p,
li {
  font-size: 18px;
}
#header {
  text-align: center;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 30px;
}
body {
  font-family: "georgia";
  background-color: #eee;
  margin: 0;
}
.review {
  background-color: white;
  width: 650px;
  display: none;
  margin: 0 auto;
  padding: 50px;
}
.active {
  display: block;
}
img {
  width: 650px;
}
button {
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  display: block;
  margin: 40px auto;
  padding: 10px 200px;
  border: solid 2px #1b7530;
  border-radius: 50px;
}
